/*  El . (punto es para hacer referenca a las clases  */
:root{
    --blanco: #ffffff;
    --oscuro: 212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
}
body{
    font-size: 16px;
}

/*Se aplica desde 0px */
body{
    background-color: bisque;
}
/*Recomendado
480px para moviles
768px para tablet*/

@media (min-width: 468px){
    body{
        background-color: turquoise;}
}

@media (min-width: 768px){
    body{
        background-color: greenyellow;}
}
@media (mid-width: 768px){
    .navegador-principal{
        flex-direction: row;
        justify-content: flex-start;
    }
}

.title{
    color: blue;
    text-align: center;
}
.title span{
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    font-style: italic;
}

.navegador-principal{
    background-color: var(--secundario);
    padding: 1rem;
    display: flex;
    justify-content: space-between;/*justify content para Filas*/
    align-content: space-between; /*align items para columnas*/
    font-weight: bold;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

.navegador-principal a{
    color: var(--blanco);
    text-decoration: none; /* Quita el subrayado */;
    padding: 1rem ;
}

.navegador-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.hero{
    background-image: url(../img/hero.jpg);/* el .. es para ir al directorio anterior */
    background-repeat: no-repeat;/*No repite la imagen*/
    background-size: cover; /*Cambia el tamaño de la imagen*/
    height: 450px;/*Tamaño de la imagen*/
    padding: 20px;/*Tamaño de la imagen*/
    position: relative;/*Posicion de la imagen*/
}